{% extends 'base.html' %}
{% block  content %}

<div class="container">
    <div class="row">
        {% for meme in all_memes %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-5">
            <div class="card p-3">
                <img src="{{meme['image']}}">
                <h2 class="card-title">{{ meme['name'] }}</h2>
                <p class="small">{{meme['description']}}</p>

            </div>
        </div>
        {% endfor %}


    </div>

</div>
{% if profile %}
<div class="position-fixed bottom-0 end-0 mx-5 my-4">
    <a class="btn btn-secondary fs-3 px-3" href="/add_meme_form">+</a>
</div>
{% endif %}

{% endblock  content %}